<footer>
    <div class="window-container">
        <div class="window">
            <div class="contacts">
                <p><a href="mailto:psibetarho@gmail.com">Email</a></p>
                <p><a href="https://twitter.com/pbrucla">Twitter</a></p>
                <p><a href="https://discord.gg/j9dgf2q">Discord</a></p>
                <p><a href="https://ctftime.org/team/186494">CTF Time</a></p>
            </div>
            <p>© ACM Cyber at UCLA & Psi Beta Rho 2023</p>
            <p>Hosted on <a href="https://github.com/pbrucla/pbrucla.github.io/">GitHub Pages.</a></p>
        </div>
    </div>
    <script src="assets/footer-fix.js"></script>
</footer>
