<div class="nav-toggle hamburger-container enabled">
    <input type="checkbox" class="hamburger-toggle" checked>
    <div class="hamburger-button"></div>
</div>

<nav class="ope">
    <div class="hex" role="img" aria-label="Navigation bar background graphic, styled like the address panel of a hex editor.">
        <ol>
            {%- for i in (0..256) -%}
                <li/>
            {%- endfor -%}
        </ol>
    </div>
    <ul>
        <li id="splash-hack-zero-for-reference" aria-hidden="true">0</li>
        {%- assign stripped-page-url = page.url | remove: ".html" -%}
        {%- for entry in site.data.navbar -%}
            <li {% if entry.z-index != nil -%}style="z-index: {{ entry.z-index }};"{%- endif -%}>
                <a href="{{ entry.href }}"
                   title="{{ entry.name }}"
                   {%- if stripped-page-url == entry.href or (entry.has_posts != nil and layout.layout == "default") -%}highlighted{%- endif -%}
                >
                    {{- entry.name | truncate: 4, "" -}}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</div>

</nav>

<script>
    const navOpener = document.querySelector('.nav-toggle');
    const navClasses = document.querySelector('nav').classList;

    navOpener.addEventListener('click', () => navClasses.contains('open') ? navClasses.add('open') : navClasses.remove('open'));
</script>
