<nav class="open">
    <div class="hex" role="img" aria-label="Navigation bar background graphic, styled like the address panel of a hex editor.">
        <ol>
            {%- for i in (0..256) -%}
                <li/>
            {%- endfor -%}
        </ol>
    </div>
    <ul>
        <li id="splash-hack-zero-for-reference" aria-hidden="true">0</li>
        {%- assign stripped-page-url = page.url | remove: ".html" -%}
        {%- for entry in site.data.navbar -%}
            <li {% if entry.z-index != nil -%}style="z-index: {{ entry.z-index }};"{%- endif -%}>
                <a href="{{ entry.href }}"
                   title="{{ entry.name }}"
                   {%- if stripped-page-url == entry.href or (entry.has_posts != nil and layout.layout == "default") -%}highlighted{%- endif -%}
                >
                    {{- entry.name | truncate: 4, "" -}}
                </a>
            </li>
        {%- endfor -%}
    </ul>

</nav>

<div class="nav-toggle hamburger-container">
    <div class="hamburger-button"></div>
</div>


<script>
    const responsiveNavThreshold = 500;
    const navOpener = document.querySelector('.nav-toggle');
    const nav = document.querySelector('nav');

    const toggle = (cl, attr) => cl.contains(attr) ? cl.remove(attr) : cl.add(attr);

    navOpener.addEventListener('click', () => {
        toggle(nav.classList, 'open');
    });

    let enabled = false;

    const setResponsive = () => {
        if (window.innerWidth < responsiveNavThreshold) {
            if (enabled) return;
            enabled = true;
            nav.classList.remove('open');
            navOpener.classList.add('enabled');
        }
        else {
            if (!enabled) return;
            enabled = false;
            nav.classList.add('open');
            navOpener.classList.remove('enabled');
        }
    };
    setResponsive();
    window.addEventListener('resize', setResponsive);
</script>
