<nav>
    <div class="hex" role="img" aria-label="Navigation bar background graphic, styled like the address panel of a hex editor.">
        <ol>
            {%- for i in (0..256) -%}
                <li/>
            {%- endfor -%}
        </ol>
    </div>
    <ul>
        <li id="splash-hack-zero-for-reference" aria-hidden="true">0</li>
        {%- assign stripped-page-url = page.url | remove: ".html" -%}
        {%- for entry in site.data.navbar -%}
            <li {% if entry.z-index != nil -%}style="z-index: {{ entry.z-index }};"{%- endif -%}>
                <a href="{{ entry.href }}"
                   title="{{ entry.name }}"
                   {%- if stripped-page-url == entry.href -%}highlighted{%- endif -%}
                >
                    {{- entry.name | truncate: 4, "" -}}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
