/* Based on https://github.com/richleland/pygments-css/blob/master/monokai.css */

div.highlight {
    padding: 1px 15px;
    margin: 5px 0;
}

.content article pre:not(.highlight) {
    padding: 10px 15px;
}

div.highlight, .content article pre:not(.highlight) {
    background: #222;
    color: #f7f1ff;
    border-radius: 10px;
    overflow-x: auto;
}

$bg: #222222;
$fg: #f7f1ff;
$hll: #f7f1ff0c;
$comment: #69676c;
$keyword: #5ad4e6;
$literal: #948ae3;
$operator: #fc618d;
$name: #7bd88f;
$string: #fce566;

/* Inline code blocks */
code.highlighter-rouge {
    background: $bg;
    color: $fg;
    border-radius: 7px;
    padding: 2px 7px;
}

.highlight .hll { background-color: $hll }
.highlight { background: $bg; color: $fg }
.highlight .c { color: $comment } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: $keyword } /* Keyword */
.highlight .l { color: $literal } /* Literal */
.highlight .n { color: $fg } /* Name */
.highlight .o { color: $operator } /* Operator */
.highlight .p { color: $fg } /* Punctuation */
.highlight .ch { color: $comment } /* Comment.Hashbang */
.highlight .cm { color: $comment } /* Comment.Multiline */
.highlight .cp { color: $comment } /* Comment.Preproc */
.highlight .cpf { color: $comment } /* Comment.PreprocFile */
.highlight .c1 { color: $comment } /* Comment.Single */
.highlight .cs { color: $comment } /* Comment.Special */
.highlight .gd { color: $operator } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: $name } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $comment } /* Generic.Subheading */
.highlight .kc { color: $keyword } /* Keyword.Constant */
.highlight .kd { color: $keyword } /* Keyword.Declaration */
.highlight .kn { color: $operator } /* Keyword.Namespace */
.highlight .kp { color: $keyword } /* Keyword.Pseudo */
.highlight .kr { color: $keyword } /* Keyword.Reserved */
.highlight .kt { color: $keyword } /* Keyword.Type */
.highlight .ld { color: $string } /* Literal.Date */
.highlight .m { color: $literal } /* Literal.Number */
.highlight .s { color: $string } /* Literal.String */
.highlight .na { color: $name } /* Name.Attribute */
.highlight .nb { color: $fg } /* Name.Builtin */
.highlight .nc { color: $name } /* Name.Class */
.highlight .no { color: $keyword } /* Name.Constant */
.highlight .nd { color: $name } /* Name.Decorator */
.highlight .ni { color: $fg } /* Name.Entity */
.highlight .ne { color: $name } /* Name.Exception */
.highlight .nf { color: $name } /* Name.Function */
.highlight .nl { color: $fg } /* Name.Label */
.highlight .nn { color: $fg } /* Name.Namespace */
.highlight .nx { color: $name } /* Name.Other */
.highlight .py { color: $fg } /* Name.Property */
.highlight .nt { color: $operator } /* Name.Tag */
.highlight .nv { color: $fg } /* Name.Variable */
.highlight .ow { color: $operator } /* Operator.Word */
.highlight .w { color: $fg } /* Text.Whitespace */
.highlight .mb { color: $literal } /* Literal.Number.Bin */
.highlight .mf { color: $literal } /* Literal.Number.Float */
.highlight .mh { color: $literal } /* Literal.Number.Hex */
.highlight .mi { color: $literal } /* Literal.Number.Integer */
.highlight .mo { color: $literal } /* Literal.Number.Oct */
.highlight .sa { color: $string } /* Literal.String.Affix */
.highlight .sb { color: $string } /* Literal.String.Backtick */
.highlight .sc { color: $string } /* Literal.String.Char */
.highlight .dl { color: $string } /* Literal.String.Delimiter */
.highlight .sd { color: $string } /* Literal.String.Doc */
.highlight .s2 { color: $string } /* Literal.String.Double */
.highlight .se { color: $literal } /* Literal.String.Escape */
.highlight .sh { color: $string } /* Literal.String.Heredoc */
.highlight .si { color: $string } /* Literal.String.Interpol */
.highlight .sx { color: $string } /* Literal.String.Other */
.highlight .sr { color: $string } /* Literal.String.Regex */
.highlight .s1 { color: $string } /* Literal.String.Single */
.highlight .ss { color: $string } /* Literal.String.Symbol */
.highlight .bp { color: $fg } /* Name.Builtin.Pseudo */
.highlight .fm { color: $name } /* Name.Function.Magic */
.highlight .vc { color: $fg } /* Name.Variable.Class */
.highlight .vg { color: $fg } /* Name.Variable.Global */
.highlight .vi { color: $fg } /* Name.Variable.Instance */
.highlight .vm { color: $fg } /* Name.Variable.Magic */
.highlight .il { color: $literal } /* Literal.Number.Integer.Long */
