ul.ctf-cards {
    list-style: none;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
}

ul.ctf-cards>li {
    width: 40%;
    padding: 1.5rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: #565656;
    transition: box-shadow .2s;
}

ul.ctf-cards>li:hover {
    box-shadow: 0 0 6px #FFBD3F;
}

.ctf-place {
    border-radius: 0.5rem;
    background-color:#F44D89;
    max-width: 75%;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
} 

.ctf-organizers {
    border-radius: 0.5rem;
    background-color:#FFBD3F;
    max-width: 75%;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.ctf-year {
    font-size: 2.5rem;
}

.ctf-name {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.ctf-details {
    display: flex;
    flex-wrap: wrap;
}

.ctf-time-link {
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    display: inline;
    font-size: 1.5rem;
    color:#FFBD3F;

    a {
        color:#FFBD3F;
    }
}
.ctf-time-link>a:hover {
    text-decoration: underline solid 2px #FFBD3F;
}