---
---
@font-face {
    font-family: "IBM Plex Mono";
    src:url("../fonts/IBMPlexMono-Regular.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: #FFFFFF;
    font-family: 'IBM Plex Mono';
}

@import 'footer', 'nav', 'post', 'main';
