---
---

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;0,700;1,500;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--cyber-dark-grey);
  color: #ffffff;
  
  --min-nav-inner-width: 8ch;
  --nav-width: calc(max(var(--min-nav-inner-width), 10%) + 2rem);
  --nav-footer-font-size: max(2.1vw, calc(0.21 * var(--min-nav-inner-width)));
  --nav-footer-line-height-multiplier: 1.32;
  --nav-footer-line-height: calc(var(--nav-footer-line-height-multiplier) * var(--nav-footer-font-size));
  --cyber-yellow: #FFBD3F;
  --cyber-dark-grey: #2c2c2c;
}

body, p, code {
  font-family: "IBM Plex Mono", "Consolas", "Lucida Console", monospace;
}

body.no-scroll {
  overflow: hidden;
}

a {
    text-decoration: underline #FFBD3F;
    color: white;
}

a:hover {
    color: #FFBD3F;
}

hr {
  margin: 2rem 0;
}

h1, h2, h3 {
  color: #FFBD3F;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0rem;
}

img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

blockquote {
    border-left: 5px solid #FFBD3F;
    padding-left: 1rem;
    margin-left: 0;
}

strong {
    color: #FFBD3F;
}

@import 'footer', 'nav', 'post', 'main', 'ctfs', 'team', 'splash', 'code', 'carousel';
