---
---

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  color: #ffffff;
  font-family: "IBM Plex Mono", "Consolas", "Lucida Console", monospace;
}

a {
    text-decoration: underline #FFBD3F;
    color: white;
}

a:hover {
    color: #FFBD3F;
}

hr {
  margin: 2rem 0;
}

h1 {
    color: #FFBD3F;
    font-size: 5rem;
    font-weight: bold;
    margin: 1rem 0rem;
}

@import 'footer', 'nav', 'post', 'main';
