.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin-left: var(--nav-width);

    main {
        padding: 2rem 5%;

        img {
            width: 80%;
            margin: 20px auto;
            display: block;
            max-height: 60vh;
            object-fit: cover;
        }
    }
}