nav {
    --font-size: 2.1vw;
    --x-spacing: calc(var(--font-size) * 0.585);
    --y-spacing: calc(var(--font-size) * 1.18);

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 0rem 0rem 1rem;
    width: calc(var(--nav-width) - 2rem);

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 1rem;
        align-items: center;

        li {
            margin: 0.5em 0;

            a {
                color: #FFFFFF;
                text-decoration: none;
                text-align: center;
            }

            a:hover {
                color: #FFBD3F;
            }
        }
    }
}

/** styling inline svgs only seems to work with top-level classes */
.nav-num {
    fill: #6B6B6B;
    font-size: 2.1vw;
    user-select: none;
    pointer-events: none;
}
