nav {
    --nav-inner-width: 8ch;

    position: fixed;
    overflow: visible;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 0rem 0rem 1.75ch;
    -webkit-padding-start: 0.4rem;
    width: calc(var(--nav-width) - 2rem);

    div.hex {
        position: absolute;
        width: var(--nav-inner-width);
        padding-right: 1rem;
        user-select: none;
        pointer-events: none;

        font-size: var(--nav-footer-font-size);
        line-height: var(--nav-footer-line-height);
        color: #6B6B6B;

        ol {
            margin: 0;
            padding: 0;
            list-style: none;
            counter-reset: hex -16;
            isolation: isolate;

            li {
                position: relative;
                display: flow-root;
                counter-increment: hex 16;

                &::before {
                    content: "00000000";
                    position: absolute;
                    display: block;
                    text-align: right;
                    width: 100%;
                }
                
                &::after {
                    content: counter(hex, upper-hexadecimal);
                    z-index: 1;
                    position: relative;
                    display: block;
                    float: right;
                    background-color: #2C2C2C;
                }
            }
        }
    }

    ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: var(--nav-inner-width);
        font-size: var(--nav-footer-font-size);
        line-height: var(--nav-footer-line-height);

        li {
            &:first-child {
                opacity: 0%;
                user-select: none;
                pointer-events: none;
            }

            a {
                display: block;
                float: right;
                isolation: isolate;
                color: #FFFFFF;
                background-color: #2C2C2C;
                text-decoration: none;
                text-align: center;

                &:not([highlighted]) {
                    margin: 0 2ch;
                }

                &[highlighted], &:hover {
                    color: #FFBD3F;
                }

                &[highlighted]::before {
                    content: ">>";
                }

                &[highlighted]::after {
                    content: "<<";
                }
            }
        }
    }
}

/*
 * Safari doesn't support @counter-style but has
 * upper-hexadecimal built-in, so using this name
 * works for all browsers!
 */
@counter-style upper-hexadecimal {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "A" "B" "C" "D" "E" "F";
}
