nav {
    background-color: #6B6B6B;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 2vw;
    width: 10rem;

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 1rem;
        align-items: center;

        li {
            margin: 0.5em 0;

            a {
                color: #FFFFFF;
                text-decoration: none;
                text-align: center;
            }

            a:hover {
                color: #FFBD3F;
            }
        }
    }
}
