ul.blog-cards {
    list-style: none;
    padding: 0;

    a {
        text-decoration: none;
    }

    li {
        padding: 1.5rem 2rem 1rem 2rem;
        margin: 2rem 0;
        border-radius: 0.5rem;
        background-color: #565656;
        transition: box-shadow .2s;
        border: 1px solid #FFBD3F;
    }

    li:hover {
        box-shadow: 0 0 10px #FFBD3F;
    
        .card-title {
            text-decoration: none;
        }
    }

    // prevent cards from highlighting from links
    a:hover {
        color: white;
    }
}

.card-title {
    font-size: 2.5vh;
    font-weight: bold;
    color: #FFBD3F;
}

.card-date-author {
    font-style: italic;
}

.tags {
    margin: 1rem 0;

    span {
        padding: 0.3rem;
        border: 2px solid #F44D89;
        background-color: #F44D89;
        border-radius: 0.3rem;
        font-size: 0.8rem;
    }
}

.card-summary {
    padding-top: 1rem;
}

.post-title {
    margin: 0;
    font-size: 4vh;
}

.post-author-date {
    font-size: 3vh;
}