.load {
    display: none;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 200%;
    position: fixed;
    background-color: #2c2c2c;
    z-index: 1;
    opacity: 1;

    pre,
    body {
        padding: 0;
        margin: 0;
    }

    .term {
        font-family: "IBM Plex Mono", "Consolas", "Lucida Console", monospace;
        color: rgb(205, 205, 205);
        font-size: 2vw;
        line-height: calc(var(--nav-footer-line-height-multiplier) * 2vw);
        opacity: 0.8;
        overflow: hidden hidden;
    }

    .term:after {
        content: "_";
        opacity: 1;
        animation: cursor 1s infinite;
    }

    @keyframes cursor {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}
