// Team Page

.team-flex-container {
    display: flex;
    margin: 0 3%;
    flex-wrap: wrap;
    justify-content: center;

    .member-flex-item {
        margin: 1.5% 4%;
        max-width: 25%;
        text-align: center;
        min-width: 150px;

        p {
            margin: 0.5rem 0;
            padding: 0;
        }

        .member-name {
            font-size: 1.5vw;
        }

        .member-role {
            font-size: 1vw;
        }


    }
    
    .logo {
        max-width: 20%;
        // counteracts the global image styling
        margin-left: none;
        margin-right: none;
        display: inline-block;
    }

    a {
        text-decoration: none;
    }

    .profile-image {
        border: 2px solid #FFBD3F;
        border-radius: 50%;
        aspect-ratio: 1;
    }
}
